{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="card shadow p-4">
  <h2 class="text-center mb-4">Video Scanner and ASL Prediction</h2>

  <!-- Formulario para subir el archivo de video -->
  <div class="video-container mb-3">
    <video id="video" autoplay muted hidden></video>
  </div>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="fileInput" class="form-label">Upload a video:</label>
      <input
        class="form-control"
        type="file"
        id="fileInput"
        name="file"
        accept="video/*"
      />
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Upload</button>
    </div>
  </form>

  <!-- Botones de control para la cámara -->
  <div class="text-center mt-3">
    <button id="startCamera" class="btn btn-primary">Activate Camera</button>
    <button id="stopCamera" class="btn btn-danger ms-2" disabled>
      Stop Camera
    </button>
  </div>

  <!-- Formulario para subir la imagen y hacer la predicción -->
  <h2 class="text-center mt-4">ASL Sign Prediction</h2>
  <form action="/predict" method="post" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="imageInput" class="form-label">Upload an image:</label>
      <input
        class="form-control"
        type="file"
        id="imageInput"
        name="image"
        accept="image/*"
      />
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Predict</button>
    </div>
  </form>
  <div id="result" class="text-center mt-3"></div>

  <script>
    document.querySelectorAll('form').forEach(form => {
      form.addEventListener('submit', async function(event) {
        event.preventDefault();
        const formData = new FormData(event.target);
        const response = await fetch(event.target.action, {
          method: 'POST',
          body: formData
        });
        const result = await response.json();
        document.getElementById('result').innerText = `Predicted class: ${result.class}`;
      });
    });

    // Funcionalidad para activar y desactivar la cámara
    const video = document.getElementById('video');
    const startCameraButton = document.getElementById('startCamera');
    const stopCameraButton = document.getElementById('stopCamera');

    startCameraButton.addEventListener('click', async () => {
      const stream = await navigator.mediaDevices.getUserMedia({ video: true });
      video.srcObject = stream;
      video.hidden = false;
      startCameraButton.disabled = true;
      stopCameraButton.disabled = false;
    });

    stopCameraButton.addEventListener('click', () => {
      const stream = video.srcObject;
      const tracks = stream.getTracks();
      tracks.forEach(track => track.stop());
      video.hidden = true;
      startCameraButton.disabled = false;
      stopCameraButton.disabled = true;
    });
  </script>
</div>

{% endblock %}
