{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content
%}

<div class="card shadow p-4">
  <h2 class="text-center mb-4">Video Scanner</h2>
  <div class="video-container mb-3">
    <video id="video" autoplay muted hidden></video>
  </div>
  <!-- Formulario para subir el archivo -->
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="fileInput" class="form-label">Upload a video:</label>
      <input
        class="form-control"
        type="file"
        id="fileInput"
        name="file"
        accept="video/*"
      />
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Upload</button>
    </div>
  </form>
  <!-- Botones de control para la cámara -->
  <div class="text-center mt-3">
    <button id="startCamera" class="btn btn-primary">Activate Camera</button>
    <button id="stopCamera" class="btn btn-danger ms-2" disabled>
      Stop Camera
    </button>
  </div>
</div>

{% endblock %}
